**/*.exe
**/*.lnk
**/*.url
**/.[Dd][Ss]_[Ss]tore
**/[Dd]esktop.ini
**/ICON.ico
C#/**/bin
C#/**/obj
Unity/**/*.aab
Unity/**/*.apk
Unity/**/*.app
Unity/**/*.booproj
Unity/**/*.csproj
Unity/**/*.exe
Unity/**/*.mdb
Unity/**/*.mdb.meta
Unity/**/*.opendb
Unity/**/*.pdb
Unity/**/*.pdb.meta
Unity/**/*.pidb
Unity/**/*.pidb.meta
Unity/**/*.sln
Unity/**/*.suo
Unity/**/*.svd
Unity/**/*.tmp
Unity/**/*.unitypackage
Unity/**/*.unitypackage.meta
Unity/**/*.unityproj
Unity/**/*.user
Unity/**/*.userprefs
Unity/**/*.VC.db
Unity/**/.consulo/
Unity/**/.gradle/
Unity/**/.utmp/*
Unity/**/.vs/
Unity/**/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
Unity/**/[Aa]ssets/AssetStoreTools*
Unity/**/[Aa]ssets/Plugins/Editor/JetBrains*
Unity/**/[Aa]ssets/[Ss]treamingAssets/aa.meta
Unity/**/[Aa]ssets/[Ss]treamingAssets/aa/*
Unity/**/[Bb]uild/
Unity/**/[Bb]uilds/
Unity/**/ExportedObj/
Unity/**/[Ii]gnore.conf
Unity/**/[Ll]ibrary/
Unity/**/[Ll]ogs/
Unity/**/[Mm]emoryCaptures/
Unity/**/[Oo]bj/
Unity/**/[Rr]ecordings/
Unity/**/[Tt]emp/
Unity/**/[Uu]ser[Ss]ettings/
Unity/**/crashlytics-build.properties
Unity/**/sysinfo.txt
